<!DOCTYPE html>
<html>
<head>
  <title>SpendWise</title>
  <%= stylesheet_link_tag 'splash', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="container">
    <h1>Welcome to SpendWise Budget App</h1>
    <p>Manage your budget with ease!</p>
    <%= link_to 'Sign Up', new_user_registration_path %>
    <%= link_to 'Log In', new_user_session_path %>
  </div>
</body>
</html>
